<form
  class="w-72 max-w-lg mt-20 ml-3 mr-7"
  [formGroup]="userForm"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field class="w-full">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="John" formControlName="firstName" />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Doe" formControlName="lastName" />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      placeholder="example@mail.com"
      formControlName="email"
    />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>ID</mat-label>
    <input matInput placeholder="" formControlName="id" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>User Status</mat-label>
    <mat-select formControlName="userStatus">
      <mat-option value="active"> Active </mat-option>
      <mat-option value="inactive"> Inactive </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Roles</mat-label>
    <input matInput type="text" placeholder="" formControlName="roles" />
  </mat-form-field>
</form>
