<form
  class="w-72 max-w-lg pt-20 ml-3 mr-7"
  [formGroup]="userForm"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field class="w-full">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="John" formControlName="firstName" />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Doe" formControlName="lastName" />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      placeholder="example@mail.com"
      formControlName="email"
    />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>ID</mat-label>
    <input matInput placeholder="" formControlName="id" />
  </mat-form-field>

  <div formArrayName="roles">
    <button
      type="button"
      class="text-sm underline mt-1 mb-3"
      (click)="onAddRole()"
    >
      Add role
    </button>
    <div *ngFor="let roleControl of rolesArray.controls; let i = index">
      <mat-form-field class="w-full">
        <mat-label>Roles</mat-label>
        <input matInput type="text" placeholder="" [formControlName]="i" />
      </mat-form-field>
    </div>
  </div>

  <div class="flex justify-between ml-3 mr-7">
    <button
      type="button"
      class="bg-gray-500 text-gray-100"
      mat-button
      (click)="close()"
    >
      Cancel
    </button>
    <button
      type="submit"
      class="bg-gray-500 text-white"
      mat-button
      [disabled]="!userForm.valid"
    >
      Save
    </button>
  </div>
</form>
