<span
  class="material-icons hover:opacity-50 absolute top-5 right-10 cursor-pointer"
  (click)="close()"
  >close</span
>
<form
  class="w-72 max-w-lg pt-20 ml-3 mr-7"
  [formGroup]="userForm"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field class="w-full">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="John" formControlName="firstName" />
  </mat-form-field>
  <span
    *ngIf="
      !userForm.get('firstName')?.valid &&
      userForm.get('firstName')?.touched &&
      !userForm.get('firstName')?.dirty
    "
    class="text-red-600"
    >This field cannot not be empty</span
  >
  <span
    *ngIf="userForm.get('firstName')?.errors?.['minlength']"
    class="text-red-600"
    >This field must include at least two characters</span
  >

  <mat-form-field class="w-full">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Doe" formControlName="lastName" />
  </mat-form-field>
  <span
    *ngIf="
      !userForm.get('lastName')?.valid && userForm.get('lastName')?.touched
    "
    class="text-red-600"
    >This field must include at least one character</span
  >

  <mat-form-field class="w-full">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      placeholder="example@mail.com"
      formControlName="email"
    />
  </mat-form-field>
  <span
    *ngIf="
      !userForm.get('email')?.valid &&
      userForm.get('email')?.touched &&
      !userForm.get('email')?.dirty
    "
    class="text-red-600"
    >This form cannot be empty</span
  >
  <span *ngIf="userForm.get('email')?.errors?.['pattern']" class="text-red-600"
    >Please, input a valid email address</span
  >

  <mat-form-field class="w-full">
    <mat-label>ID</mat-label>
    <input matInput placeholder="" formControlName="id" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>User Status</mat-label>
    <mat-select formControlName="userStatus">
      <mat-option value="active"> Active </mat-option>
      <mat-option value="inactive"> Inactive </mat-option>
    </mat-select>
  </mat-form-field>

  <div formArrayName="roles">
    <mat-form-field
      class="w-full"
      *ngFor="let role of rolesArray.controls; let i = index"
    >
      <mat-label>Role</mat-label>
      <input matInput type="text" placeholder="Admin" [formControlName]="i" />
    </mat-form-field>
    <button
      type="button"
      class="text-sm underline mt-1 mb-3"
      (click)="onAddRole()"
    >
      Add role
    </button>
  </div>

  <div class="flex justify-between ml-3 mr-7 mt-3">
    <button
      type="button"
      class="bg-gray-500 text-gray-100"
      mat-button
      (click)="close()"
    >
      Cancel
    </button>
    <button
      type="submit"
      class="bg-gray-500 text-white"
      mat-button
      [disabled]="!userForm.valid"
    >
      Save
    </button>
  </div>

  <div class="flex mt-5" *ngIf="error">
    <p class="text-red-700">
      Could not save user. User already exists with this email!
    </p>
  </div>
</form>
