.example-container {
  width: 100%;
  height: 100vh;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.example-sidenav {
  padding-left: 1%;
  overflow: hidden;
}

.add {
  color: blue;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

td,
th {
  width: 25%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
