<mat-drawer-container class="example-container" autosize>
  <mat-drawer-container class="example-container" autosize>
    <div class="flex">
      <div
        class="flex w-full h-20 bg-white font-bold text-3xl items-center pl-10"
      >
        Users
      </div>
    </div>

    <div class="container w-11/12 h-auto bg-white mx-auto mt-10">
      <div class="flex justify-between gap-3 pt-5 pb-5">
        <!--Table-->

        <div class="flex flex-col ml-5 w-10/12">
          <form #f="ngForm" class="w-full">
            <mat-form-field class="mt-10 mb-5">
              <mat-label>Search users</mat-label>
              <input
                matInput
                placeholder="David..."
                #text="ngModel"
                [(ngModel)]="searchTerm"
                name="userInput"
                (ngModelChange)="applyFilter($event)"
              />
            </mat-form-field>
          </form>
          <div class="mat-elevation-z8 w-full">
            <table mat-table [dataSource]="dataSource" matSort class="w-full">
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="first name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  first name
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.firstName }}
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="last name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  last name
                </th>
                <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
              </ng-container>

              <!-- Fruit Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
                <td mat-cell *matCellDef="let row">{{ row.email }}</td>
              </ng-container>

              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>role</th>
                <td mat-cell *matCellDef="let row">{{ row.roles }}</td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Status
                </th>
                <td mat-cell *matCellDef="let row">{{ row.locked }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4"></td>
              </tr>
            </table>

            <mat-paginator
              [pageSizeOptions]="[5, 10, 25, 100]"
              [pageIndex]="pageIndex"
              [pageSize]="pageSize"
              [length]="total"
              (page)="pageEvent($event)"
              aria-label="Select page of users"
            ></mat-paginator>
          </div>
        </div>
        <div class="flex w-24 h-10">
          <button
            class="text-blue-700 font-bold py-1 px-2 rounded mr-5 mt-1 flex gap-3 text-lg"
            type="button"
            mat-button
            (click)="drawer.open()"
          >
            <span class="add material-icons cursor-pointer">add</span>
            Add
          </button>
        </div>
        <!---->
      </div>
    </div>

    <mat-drawer #drawer class="example-sidenav" position="end" mode="side">
      <span
        class="material-icons hover:opacity-50 absolute top-5 right-10 cursor-pointer"
        (click)="drawer.close()"
        >close</span
      >

      <form
        class="w-72 max-w-lg pt-20 ml-3 mr-7"
        [formGroup]="userForm"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field class="w-full">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="John" formControlName="firstName" />
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Doe" formControlName="lastName" />
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="example@mail.com"
            formControlName="email"
          />
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>ID</mat-label>
          <input matInput placeholder="" formControlName="id" />
        </mat-form-field>

        <div formArrayName="roles">
          <button
            type="button"
            class="text-sm underline mt-1 mb-3"
            (click)="onAddRole()"
          >
            Add role
          </button>
          <div *ngFor="let roleControl of rolesArray.controls; let i = index">
            <mat-form-field class="w-full">
              <mat-label>Roles</mat-label>
              <input
                matInput
                type="text"
                placeholder=""
                [formControlName]="i"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="flex justify-between ml-3 mr-7">
          <button
            type="button"
            class="bg-gray-500 text-gray-100"
            mat-button
            (click)="drawer.close()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="bg-gray-500 text-white"
            mat-button
            [disabled]="!userForm.valid"
          >
            Save
          </button>
        </div>
      </form>
    </mat-drawer>
  </mat-drawer-container>
  <router-outlet></router-outlet>
</mat-drawer-container>

<!--  -->
